{% extends parent_template|default:'user/base_user.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<div class="container-fluid pt-7" align="center">
        <div class="container pt-7">
            <div class="row align-items-center" >
                <h3>Password reset</h3>
                    <form action="{% url 'dj-auth:password_reset' %}"
      method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit">Send Email</button>
                    </form>

            </div>
        </div>
</div>

{% endblock content %}