{% extends parent_template|default:'user/base_user.html' %}
{% load crispy_forms_tags %}


{% block content %}
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>

<div class="container-fluid pt-7" align="center">
        <div class="container pt-7">
            <div class="row align-items-center" >
                <form class="row g-3" action="{{profile.get_update_url}}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
</div>
 >


{% endblock content %}