{% extends parent_template|default:'shoppingcart/cart_base.html' %}
{% load static %}
{% block content %}

<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>
<br>
</br>

<div class="container" align="center">
				<div class="populer-products-content" align="center">
					<div class="row">

						<div class="col-md-16" align="center">
                          <table class="table" align="center">
                <thead align="center">
                  <tr>

                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                {% for product in product_list %}

                  <tr>
                    <td data-src="{{product.product.image.url}}"><img
                             src="{{product.product.image.url}}" style="width:60px;" </img></td>
                    <td style="width:150px; height:80px; vertical-align:center">{{product.product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.product.price}} $</td>
                    <td>{% widthratio product.product.price 1 product.quantity %} $</td>
                    <td>
                        <button  style="height:20px; vertical-align:top ">
                            <a href="{{product.get_update_url}}" style="vertical-align:center;"> Update</a>
                        </button>
                    </td>
                      <td>
                        <button  style="height:20px; vertical-align:top ">
                            <a href="{{product.get_delete_url}}" style="vertical-align:center;"> Delete</a>
                        </button>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
                </table>
                        </div>
                    </div>
                </div>
</div>
<div class="container-fluid pt-7">
        <div class="container pt-7">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <h3 class="text text-primary mb-4" align="left">Products Number: {{total_number_of_products}}</h3>
                </div>
                 <div class="col-lg-12">
                    <h3 class="text text-primary mb-8" align="right">TOTAL: {{total}} $</h3>
                </div>
                <br>
                </br>
                <br>
                </br>
                <br>
                </br>
                <br>
                </br>
                 <div class="col-lg-12" align="center">
                    <button class="btn-cart welcome-add-cart populer-products-btn" style="center" >
                        <a href="{{post.get_absolute_url}}"> Continue</a>
                    </button>

                </div>
            </div>
        </div>
</div>











{% endblock content %}